# Ignore node_modules, as you already have
node_modules

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode

# Ignore logs
logs
*.log

# Ignore npm and yarn files
package-lock.json
yarn.lock

# Ignore environment files
.env